<div class="c-content">
  <h3>Random Article</h3>
<div class="articles">
  <div class="author">
    {{article.author}}
  </div>
  <div class="link">
    <a href={{article.url}}>  <h1>{{article.title}}</h1></a>
  </div>
  <div class="description">
    {{article.description}}
  </div>
 <div class="image">
    <img src="{{article.urlToImage}}">
  </div>

</div>

</div>
