
<div class="container-table">
  <div class="row vertical-center-row">
    <div class="text-center col-md-4 col-md-offset-4" style="background:lightblue">
  <h1>Random Article</h1>
  <a class="btn btn-primary btn-sm" href="/" role="button">Back</a>
  <a href={{article.url}} class="btn btn-info" role="button">{{article.title}}</a>
  <div class="article-author">
    <h2>Author: {{article.author}}</h2>
  </div>
  <div class="article-description">
    <h3>Description: {{article.description}}</h3>
  </div>
    <img src="{{article.urlToImage}}" class="img-circle" alt="news">
</div>
</div>
</div>
