
<body style="background:lightblue">
<div class="container-table">
  <h3>Random Article</h3>
  <div class="article-author">
    {{article.author}}
  </div>
    <!-- <a href={{article.url}} class="btn btn-info" role="button">{{article.title}}</a> -->
  <div class="article-description">
    {{article.description}}
  </div>
    <!-- <img src="{{article.urlToImage}}" class="img-circle" alt="news"> -->
</div>
</body>
